@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root {
	--bgColor: #2a2f38;
	--featureColor: #8ac80b;
	--lightColor: #dce0e3;
	--popColor: #db933f;
	/*#054251*/
}

body{
	/*background-color: #222629;*/
	background-color: var(--bgColor);
	
	font: 1em Play, sans-serif;
	text-align: center;
	color: var(--lightColor);
}
h1{
	font:2em Play, sans-serif;
}
h3{
	font: 1.2em Play, sans-serif;
}



header{
	background-color: rgba(0,0,0,0.0);
}
header:hover{
	background-color: rgba(0,0,0,0.5);
}

#logo_container{
	width: 128px;
	height:	128px;
}

#logo_bg_rect{
	display: none;
	/*fill: var(--bgColor);*/

}
/*#logo_container:hover{
	border: 1px solid var(--popColor);
	
}*/
#logo_partialCircle{
	stroke: var(--lightColor);
	stroke-width: 1.5;
	stroke-linecap: round;
}
#logo_3d{
	fill: var(--featureColor);
	/*stroke: var(--lightColor);
	stroke-width: 1;
	*/
}
#logo_s{
	fill: var(--lightColor);
}
/*#logo_d{
	fill: var(--popColor);
}*/




#header_logo{

}
#header_title{
	
}
#header_subheading{
	
}
#headerSmIconsContainer{
	
}
#headerSmIconsContainer img{
	width: 60px;
	height: 60px;
}

main{
	/*background-color: black;*/

}
main h1{
	
}
main h3{
	
}
#projectCardContainer{
	background-color: var(--featureColor);
	width: 80%;
}
#projectCardContainer article{
	background-color: var(--popColor);
	width: 80%;
}
#projectCardContainer article h1{
	font:3em Play, sans-serif;
}
#projectCardContainer article h3{
	font:2em Play, sans-serif;
}
#projectCardContainer article p{
	font:1em Play, serif;
}
#projectCardContainer article img{
	/*width: 200px;*/
}
#projectCardContainer article .skillList{
	
}


/*section{
	display: flex;
	flex-wrap:  wrap;
}

article{
	max-width: 400px;
}

article img{
	width: 100px;
	height: 100px;
}

article h1{

}

article p{

}

article ul{
	
}
article li{

}*/



/*

.highlightColorBlocks{
	width: 100px;
	height: 100px;
	font-size: 4em;
	margin: 20px;
}
#hColor1{
	background-color: #8ac80b;
	color: #608d24;
}
#hColor2{
	background-color: #dce0e3;
	color: #222629;
}
#hColor3{
	background-color: #608d24;
	color: #8ac80b;
}
#hColor4{
	background-color: #db933f;
	color: white;
}
#hBorder1{
	border: 1px solid #8ac80b;
	color: #608d24;
}
#hBorder2{
	border: 1px solid #dce0e3;
}
#hBorder3{
	border: 1px solid #608d24;
	color: #8ac80b;
}
#hBorder4{
	border: 1px solid #db933f;
	color: white;
}*/
